// メディクエリの設定
$media-screen-maxsize: 480px;

// 色
$task-font-color: white;
$taskList-text-color: #333333;
$deadLine-text-color: #575757;
$heading-font-color: white;
$farm-bg: #68d391;
$taskBox-bg: #f7f5e1;
$header-bg: #575757;

//文字サイズ
$heading-font-size: 2em;
