@import '../../../../../variables';
@mixin TaskText($farm-bg) {
  .taskText {
    color: white;
    background-color: $farm-bg;
    text-align: center;
    font-size: 25px;
    height: 2em;
    padding: 0.2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@include TaskText($farm-bg);
